{
	email {$LETSENCRYPT_EMAIL}
}

{$DOMAIN_APP} {
	basic_auth {
		admin $2a$14$vDCnnR1BaYWMgUNYl3O2cO3mJSY/Y7INCAbXRWibFs2Lk4nKbVeAW
	}
	reverse_proxy frontend:3000
}

{$DOMAIN_API} {
	reverse_proxy backend:1337
}
